/* Styles in this file override the ones from liberty.css when A/B test is activated. */

.liberty-cls-background,
.liberty-cls-improved,
#srp-results [data-liberty-position-name="lsrp-result-list-0"],
#srp-results [data-liberty-position-name="lsrp-result-list-1"],
#srp-results [data-liberty-position-name="lsrp-result-list-2"],
#srp-results [data-liberty-position-name="lsrp-result-list-3"],
#srp-results [data-liberty-position-name="lsrp-result-list-4"],
#srp-results [data-liberty-position-name="lsrp-result-list-5"],
#srp-results [data-liberty-position-name="lsrp-result-list-6"],
#srp-results [data-liberty-position-name="lsrp-result-list-7"],
#srp-results [data-liberty-position-name="lsrp-result-list-8"],
#srp-results [data-liberty-position-name="srps-result-list-0"],
#srp-results [data-liberty-position-name="srps-result-list-1"],
#srp-results [data-liberty-position-name="srps-result-list-2"],
#srp-results [data-liberty-position-name="srps-result-list-3"],
#srp-results [data-liberty-position-name="srps-result-list-4"],
#srp-results [data-liberty-position-name="srps-result-list-5"],
#srp-results [data-liberty-position-name="srps-result-list-6"],
#srp-results [data-liberty-position-name="srps-result-list-7"],
#srp-results [data-liberty-position-name="srps-result-list-8"],
#srp-results [data-liberty-position-name="srpb-result-list-0"],
#srp-results [data-liberty-position-name="srpb-result-list-1"],
#srp-results [data-liberty-position-name="srpb-result-list-2"],
#srp-results [data-liberty-position-name="srpb-result-list-3"],
#srp-results [data-liberty-position-name="srpb-result-list-4"],
#srp-results [data-liberty-position-name="srpb-result-list-5"],
#srp-results [data-liberty-position-name="srpb-result-list-6"],
#srp-results [data-liberty-position-name="srpb-result-list-7"],
#srp-results [data-liberty-position-name="srpb-result-list-8"] {
    background-color: white;
    background-image: url("https://www.kleinanzeigen.de/liberty/liberty-js/placeholder-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.liberty-cls-background.liberty-filled,
.liberty-cls-improved.liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-0"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-1"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-2"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-3"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-4"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-5"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-6"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-7"].liberty-filled,
#srp-results [data-liberty-position-name="lsrp-result-list-8"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-0"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-1"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-2"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-3"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-4"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-5"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-6"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-7"].liberty-filled,
#srp-results [data-liberty-position-name="srps-result-list-8"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-0"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-1"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-2"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-3"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-4"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-5"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-6"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-7"].liberty-filled,
#srp-results [data-liberty-position-name="srpb-result-list-8"].liberty-filled,
.liberty-filled .liberty-cls-background,
.liberty-filled .liberty-cls-improved,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-0"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-0"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-1"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-1"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-2"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-2"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-3"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-3"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-4"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-4"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-5"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-5"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-6"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-6"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-7"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-7"],
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-8"],
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-8"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-0"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-0"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-1"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-1"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-2"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-2"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-3"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-3"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-4"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-4"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-5"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-5"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-6"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-6"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-7"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-7"],
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-8"],
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-8"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-0"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-0"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-1"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-1"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-2"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-2"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-3"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-3"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-4"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-4"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-5"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-5"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-6"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-6"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-7"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-7"],
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-8"],
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-8"] {
    background: none;
}

.liberty-cls-background.liberty-filled::before,
.liberty-cls-improved.liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-0"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-1"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-2"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-3"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-4"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-5"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-6"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-7"].liberty-filled::before,
#srp-results [data-liberty-position-name="lsrp-result-list-8"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-0"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-1"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-2"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-3"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-4"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-5"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-6"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-7"].liberty-filled::before,
#srp-results [data-liberty-position-name="srps-result-list-8"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-0"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-1"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-2"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-3"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-4"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-5"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-6"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-7"].liberty-filled::before,
#srp-results [data-liberty-position-name="srpb-result-list-8"].liberty-filled::before,
.liberty-filled .liberty-cls-background::before,
.liberty-filled .liberty-cls-improved::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-0"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-0"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-1"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-1"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-2"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-2"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-3"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-3"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-4"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-4"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-5"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-5"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-6"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-6"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-7"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-7"]::before,
.liberty-filled #srp-results [data-liberty-position-name="lsrp-result-list-8"]::before,
#srp-results .liberty-filled [data-liberty-position-name="lsrp-result-list-8"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-0"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-0"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-1"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-1"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-2"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-2"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-3"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-3"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-4"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-4"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-5"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-5"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-6"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-6"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-7"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-7"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srps-result-list-8"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srps-result-list-8"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-0"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-0"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-1"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-1"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-2"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-2"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-3"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-3"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-4"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-4"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-5"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-5"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-6"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-6"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-7"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-7"]::before,
.liberty-filled #srp-results [data-liberty-position-name="srpb-result-list-8"]::before,
#srp-results .liberty-filled [data-liberty-position-name="srpb-result-list-8"]::before {
    display: none;
}

/* Use the server-side rendered data attribute `data-liberty-position-name` for selecting slots */

.liberty-cls-improved,
#srp-results [data-liberty-position-name="lsrp-result-list-0"],
#srp-results [data-liberty-position-name="lsrp-result-list-1"],
#srp-results [data-liberty-position-name="lsrp-result-list-2"],
#srp-results [data-liberty-position-name="lsrp-result-list-3"],
#srp-results [data-liberty-position-name="lsrp-result-list-4"],
#srp-results [data-liberty-position-name="lsrp-result-list-5"],
#srp-results [data-liberty-position-name="lsrp-result-list-6"],
#srp-results [data-liberty-position-name="lsrp-result-list-7"],
#srp-results [data-liberty-position-name="lsrp-result-list-8"],
#srp-results [data-liberty-position-name="srps-result-list-0"],
#srp-results [data-liberty-position-name="srps-result-list-1"],
#srp-results [data-liberty-position-name="srps-result-list-2"],
#srp-results [data-liberty-position-name="srps-result-list-3"],
#srp-results [data-liberty-position-name="srps-result-list-4"],
#srp-results [data-liberty-position-name="srps-result-list-5"],
#srp-results [data-liberty-position-name="srps-result-list-6"],
#srp-results [data-liberty-position-name="srps-result-list-7"],
#srp-results [data-liberty-position-name="srps-result-list-8"],
#srp-results [data-liberty-position-name="srpb-result-list-0"],
#srp-results [data-liberty-position-name="srpb-result-list-1"],
#srp-results [data-liberty-position-name="srpb-result-list-2"],
#srp-results [data-liberty-position-name="srpb-result-list-3"],
#srp-results [data-liberty-position-name="srpb-result-list-4"],
#srp-results [data-liberty-position-name="srpb-result-list-5"],
#srp-results [data-liberty-position-name="srpb-result-list-6"],
#srp-results [data-liberty-position-name="srpb-result-list-7"],
#srp-results [data-liberty-position-name="srpb-result-list-8"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#srp-results [data-liberty-position-name="lsrp-result-list-0"],
#srp-results [data-liberty-position-name="lsrp-result-list-1"],
#srp-results [data-liberty-position-name="lsrp-result-list-2"],
#srp-results [data-liberty-position-name="lsrp-result-list-3"],
#srp-results [data-liberty-position-name="lsrp-result-list-4"],
#srp-results [data-liberty-position-name="lsrp-result-list-5"],
#srp-results [data-liberty-position-name="lsrp-result-list-6"],
#srp-results [data-liberty-position-name="lsrp-result-list-7"],
#srp-results [data-liberty-position-name="lsrp-result-list-8"],
#srp-results [data-liberty-position-name="srps-result-list-0"],
#srp-results [data-liberty-position-name="srps-result-list-1"],
#srp-results [data-liberty-position-name="srps-result-list-2"],
#srp-results [data-liberty-position-name="srps-result-list-3"],
#srp-results [data-liberty-position-name="srps-result-list-4"],
#srp-results [data-liberty-position-name="srps-result-list-5"],
#srp-results [data-liberty-position-name="srps-result-list-6"],
#srp-results [data-liberty-position-name="srps-result-list-7"],
#srp-results [data-liberty-position-name="srps-result-list-8"],
#srp-results [data-liberty-position-name="srpb-result-list-0"],
#srp-results [data-liberty-position-name="srpb-result-list-1"],
#srp-results [data-liberty-position-name="srpb-result-list-2"],
#srp-results [data-liberty-position-name="srpb-result-list-3"],
#srp-results [data-liberty-position-name="srpb-result-list-4"],
#srp-results [data-liberty-position-name="srpb-result-list-5"],
#srp-results [data-liberty-position-name="srpb-result-list-6"],
#srp-results [data-liberty-position-name="srpb-result-list-7"],
#srp-results [data-liberty-position-name="srpb-result-list-8"] {
    min-height: 117px !important;
}

#srp-sticky {
    min-height: 50px;
}